<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iLogicdotnet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <iLogicdotnet.My.MySettings>
            <setting name="ButtonNameDumpiLogicRules" serializeAs="String">
                <value>Dump iLogic Rules to XML</value>
            </setting>
            <setting name="ButtonInternalNameDumpiLogicRules" serializeAs="String">
                <value>DumpiLogicRules</value>
            </setting>
            <setting name="ButtonDescrDumpiLogicRules" serializeAs="String">
                <value>Dump the rules in the currently open file and its children</value>
            </setting>
            <setting name="ButtonTooltipDumpiLogicRules" serializeAs="String">
                <value>Dumps the iLogic rules</value>
            </setting>
            <setting name="ButtonIconDumpiLogic" serializeAs="String">
                <value>SaveRules.ico</value>
            </setting>
            <setting name="ButtonNameExternaliseiLogicRules" serializeAs="String">
                <value>Externalise iLogic Rules</value>
            </setting>
            <setting name="ButtonInternalNameExternaliseiLogicRules" serializeAs="String">
                <value>ExternaliseiLogicRules</value>
            </setting>
            <setting name="ButtonDescrExternaliseiLogicRules" serializeAs="String">
                <value>Put the iLogic Rules in external files</value>
            </setting>
            <setting name="ButtonTooltipExternaliseiLogicRules" serializeAs="String">
                <value>Externalise...</value>
            </setting>
            <setting name="ButtonIconExtract" serializeAs="String">
                <value>ExternaliseiLogicRules.ico</value>
            </setting>
            <setting name="ButtonNameSimplifyiLogicRules" serializeAs="String">
                <value>Simplify iLogic Rules</value>
            </setting>
            <setting name="ButtonInternalNameSimplifyiLogicRules" serializeAs="String">
                <value>SimplifyiLogicRules</value>
            </setting>
            <setting name="ButtonDescrSimplifyiLogicRules" serializeAs="String">
                <value>Simplifies the iLogic Rules by refactoring that sh*t</value>
            </setting>
            <setting name="ButtonTooltipSimplifyiLogicRules" serializeAs="String">
                <value>Simplifyyy</value>
            </setting>
            <setting name="ButtonIconSimplify" serializeAs="String">
                <value>SimplifyiLogicRules.ico</value>
            </setting>
            <setting name="TabName" serializeAs="String">
                <value>iLogic dot net</value>
            </setting>
            <setting name="PartRibbonTabNameInternal" serializeAs="String">
                <value>ildotnet_Part</value>
            </setting>
            <setting name="panelPartName" serializeAs="String">
                <value>ildotnet</value>
            </setting>
            <setting name="panelPartNameInternal" serializeAs="String">
                <value>Partildotnet</value>
            </setting>
            <setting name="AssemblyRibbonTabNameInternal" serializeAs="String">
                <value>ildotnet_Assembly</value>
            </setting>
            <setting name="panelAssemblyName" serializeAs="String">
                <value>ildotnet</value>
            </setting>
            <setting name="panelAssemblyNameInternal" serializeAs="String">
                <value>Assemblyildotnet</value>
            </setting>
            <setting name="ZeroDocRibbonTabNameInternal" serializeAs="String">
                <value>ildotnet_Zerodoc</value>
            </setting>
            <setting name="panelZeroDocName" serializeAs="String">
                <value>ildotnet</value>
            </setting>
            <setting name="panelZeroDocNameInternal" serializeAs="String">
                <value>Zerodocildotnet</value>
            </setting>
            <setting name="DrawingRibbonTabNameInternal" serializeAs="String">
                <value>ildotnet_Drawing</value>
            </setting>
            <setting name="panelDrawingName" serializeAs="String">
                <value>ildotnet</value>
            </setting>
            <setting name="panelDrawingNameInternal" serializeAs="String">
                <value>Drawingildotnet</value>
            </setting>
            <setting name="RulesFileNameDelimiter" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DefaultRulesFileName" serializeAs="String">
                <value />
            </setting>
        </iLogicdotnet.My.MySettings>
    </userSettings>
</configuration>
